.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
.quarto
_freeze/*
_quarto.yml
about/*
about_jarek/*
index.qmd
lab_expectations/*
posts/*
research/*
resources/*
STLT/*
styles.css
teaching/*
unigems/*
bryklab-quarto.Rproj